---

const { egenskaber } = Astro.props; 
---
<!-- <div class="intersect:animate-fade-right intersect:duration-3000 bg-gradient-to-r from-white/30 backdrop-blur-md to-red-700 from-[50%] transition-shadow mx-5 md:mx-30 mt-8 mb-15 border rounded-sm p-1">
    <div class=" bg-white/10 backdrop-blur-md border border-white/40 rounded-sm">
  <ul class="grid grid-cols-2 md:grid-cols-4 py-7 px-2 gap-3 list-disc list-inside mb-2 text-center">
    <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-300 animate-ease-linear uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-red-700 hover:font-sans hover:scale-110 transition-transform duration-300">Pålidelig</li>
    <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-500 animate-ease-linear uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-red-700 hover:font-sans hover:scale-110 transition-transform duration-300">Skabende</li>
    <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-700 animate-ease-linear uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-primary hover:font-sans hover:scale-110 transition-transform duration-300">Nysgerrig</li>
    <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-900 animate-ease-linear uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-primary hover:font-sans hover:scale-110 transition-transform duration-300">Kreativ</li>
    <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-300 animate-ease-linear uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-red-700 hover:font-sans hover:scale-110 transition-transform duration-300">Idérig</li>
    <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-500 animate-ease-linear uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-red-700 hover:font-sans hover:scale-110 transition-transform duration-300">Engageret</li>
    <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-700 animate-ease-linear uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-primary hover:font-sans hover:scale-110 transition-transform duration-300">Teamplayer</li>
    <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-900 animate-ease-linear uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-primary hover:font-sans hover:scale-110 transition-transform duration-300">Lærenem</li>
  </ul>
   </div>
</div> -->
<div class="intersect:animate-fade-right intersect:duration-3000 bg-gradient-to-r from-white/30 backdrop-blur-md to-red-700 from-[50%] transition-shadow mx-5 md:mx-30 mt-8 mb-15 border rounded-sm p-1 relative">
  <div class="bg-white/10 backdrop-blur-md border border-white/40 rounded-sm relative">
    
    <!-- Lodret tekst inde i boksen -->
    <span class="absolute md:left-2 mr-2 top-1/2 -translate-y-1/2 text-black text-lg font-sans uppercase [writing-mode:vertical-rl]">
      Egenskaber:
    </span>

    <ul class="grid grid-cols-2 md:grid-cols-4 py-7 px-10 gap-4 list-disc list-inside mb-2 text-center">
      <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-300 animate-ease-linear rounded-xl bg-black/80 py-4 md:mx-8 text-primary drop-shadow-lg font-sans text-lg md:text-2xl hover:scale-110 transition-transform duration-300">Pålidelig</li>
      <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-500 animate-ease-linear rounded-xl bg-black/80 py-4 md:mx-8 text-primary drop-shadow-lg font-sans text-lg md:text-2xl hover:scale-110 transition-transform duration-300">Skabende</li>
      <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-700 animate-ease-linear rounded-xl bg-black/80 py-4 md:mx-8 text-primary drop-shadow-lg font-sans text-lg md:text-2xl hover:scale-110 transition-transform duration-300">Nysgerrig</li>
      <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-900 animate-ease-linear rounded-xl bg-black/80 py-4 md:mx-8 text-primary drop-shadow-lg font-sans text-lg md:text-2xl hover:scale-110 transition-transform duration-300">Kreativ</li>
      <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-300 animate-ease-linear rounded-xl bg-black/80 py-4 md:mx-8 text-primary drop-shadow-lg font-sans text-lg md:text-2xl hover:scale-110 transition-transform duration-300">Idérig</li>
      <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-500 animate-ease-linear rounded-xl bg-black/80 py-4 md:mx-8 text-primary drop-shadow-lg font-sans text-lg md:text-2xl hover:scale-110 transition-transform duration-300">Engageret</li>
      <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-700 animate-ease-linear rounded-xl bg-black/80 py-4 md:mx-8 text-primary drop-shadow-lg font-sans text-lg md:text-2xl hover:scale-110 transition-transform duration-300">Teamplayer</li>
      <li class="intersect:animate-fade-left intersect:duration-800 animate-delay-900 animate-ease-linear rounded-xl bg-black/80 py-4 md:mx-8 text-primary drop-shadow-lg font-sans text-lg md:text-2xl hover:scale-110 transition-transform duration-300">Lærenem</li>
    </ul>
  </div>
</div>


