---

const { egenskaber } = Astro.props; 
---
<div class=" bg-gradient-to-r from-white/30 backdrop-blur-md to-red-700 from-[50%] transition-shadow mx-5 md:mx-30 mt-8 mb-15 border rounded-sm p-1">
    <div class=" bg-white/10 backdrop-blur-md border border-white/40 rounded-sm">
  <ul class="grid grid-cols-2 md:grid-cols-4 py-6 px-2 gap-3 list-disc list-inside mb-2 text-center">
    <li class="uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-red-700 hover:font-sans hover:scale-110 transition-transform duration-300">Pålidelig</li>
    <li class="uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-red-700 hover:font-sans hover:scale-110 transition-transform duration-300">Skabende</li>
    <li class="uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-primary hover:font-sans hover:scale-110 transition-transform duration-300">Nysgerrig</li>
    <li class="uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-primary hover:font-sans hover:scale-110 transition-transform duration-300">Kreativ</li>
    <li class="uppercase drop-shadow-lg font-display  text-ml md:text-2xl hover:text-red-700 hover:font-sans hover:scale-110 transition-transform duration-300">Idérig</li>
    <li class="uppercase drop-shadow-lg font-display  text-ml md:text-2xl hover:text-red-700 hover:font-sans hover:scale-110 transition-transform duration-300">Engageret</li>
    <li class="uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-primary hover:font-sans hover:scale-110 transition-transform duration-300">Designdrevet</li>
    <li class="uppercase drop-shadow-lg font-display text-ml md:text-2xl hover:text-primary hover:font-sans hover:scale-110 transition-transform duration-300">Lærenem</li>
  </ul>
   </div>
</div>



