---

const { egenskaber } = Astro.props; 
---
<div class="mx-10 mt-8 mb-15 border border-black rounded-sm p-1">
  <ul class="grid grid-cols-3 py-4 px-2 list-disc list-inside mb-2 text-center">
    <li class="uppercase font-italic text-ml hover:text-red-700">Pålidelig</li>
    <li class="uppercase font-italic text-ml hover:text-red-700">Skabende</li>
    <li class="uppercase font-italic text-ml hover:text-red-700">Nysgerrig</li>
    <li class="uppercase font-italic text-ml hover:text-red-700">Kreativ</li>
    <li class="uppercase font-italic text-ml hover:text-red-700">Idérig</li>
    <li class="uppercase font-italic text-ml hover:text-red-700">Engageret</li>
  </ul>
</div>



