---
---
<div class="bg-red-700 flex items-center justify-between px-5 py-5 mx-auto">
    <!-- flex = horisontal rækkefølge, items-center = lodret centreret, justify-between = logo til venstre, ikon-div til højre -->
      <a href="#toppen">
    <img class="w-30" src="/H1.svg" alt="navn" />
     </a>
     
   <div class="flex items-center gap-2 md:mr-16">
    <!-- flex = ikoner på samme linje, gap-4 = lidt afstand mellem ikonerne, items-center = lodret centrering -->
    <a href="mailto:isabellahoeghansen@gmail.com"><img class="w-15 h-15 hover:scale-115" src="/mail_ikon.svg" alt="mail ikon" /></a>
      <a href="https://www.facebook.com/?ref=logo"><img class="w-15 h-15 hover:scale-115" src="/fb_ikon.svg" alt="facebook ikon" /></a>
      <a href="https://www.linkedin.com/in/isabella-hoeg-hansen-563518239/"><img class="w-15 h-15 hover:scale-115" src="/linkedin_ikon.svg" alt="linkedin ikon" /></a>
  </div>
    <div>
  <a href="#toppen">
    <img src="/logo_hvid.svg" alt="logo" class="w-10 md:w-15 right-5 top-5 animate-bounce animate-infinite animate-duration-[1000ms]" />
  </a>
    </div>
</div>
  