---
---
<div class="bg-red-700 flex items-center justify-between px-5 py-5">
    <!-- flex = horisontal rækkefølge, items-center = lodret centreret, justify-between = logo til venstre, ikon-div til højre -->
     <img class="w-30" src="/h1.webp" alt="navn" />
     
   <div class="flex items-center gap-4">
    <!-- flex = ikoner på samme linje, gap-4 = lidt afstand mellem ikonerne, items-center = lodret centrering -->
    <a href="mailto:isabellahoeghansen@gmail.com"><img class="w-15 h-15 hover:shadow-xl" src="/mail_ikon.svg" alt="mail ikon" /></a>
      <a href="https://www.facebook.com/?ref=logo"><img class="w-15 h-15 hover:shadow-xl" src="/fb_ikon.svg" alt="facebook ikon" /></a>
      <a href="https://www.linkedin.com/in/isabella-hoeg-hansen-563518239/"><img class="w-15 h-15 hover:shadow-xl" src="/linkedin_ikon.svg" alt="linkedin ikon" /></a>
  </div>

</div>
  